h1 {
  left: 50%;
  animation: fadein 2s;
  margin: 15%;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.aboutBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 10px solid rgb(110, 14, 10);
  z-index: -1;
  animation: animate2 1s linear forwards;
}

@keyframes animate2 {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  50% {
    width: 80%;
    height: 0;
    border-top-color: rgb(110, 14, 10);
    border-right-color: rgb(110, 14, 10);
    border-bottom-color: rgb(110, 14, 10);
    border-left-color: rgb(110, 14, 10);
  }

  100% {
    width: 80%;
    height: 80%;
    border-top-color: rgb(110, 14, 10);
    border-right-color: rgb(110, 14, 10);
    border-bottom-color: rgb(110, 14, 10);
    border-left-color: rgb(110, 14, 10);
  }
}

.entryContainer {
  border: 2px solid black;
  height: 0;
  width: 100%;
  overflow: scroll;
  transition: all 1s;
}

.expand {
  height: 200px;
  top: 50%;
}

.aboutContainer {
  position: fixed;
  top: 50%;
  left: 27%;
  transform: translate(-50%, -50%);
  width: 30%;
  overflow: scroll;
}

.inspoContainer {
  position: absolute;
  top: 50%;
  right: 27%;
  transform: translate(50%, -50%);
  width: 30%;
  overflow: scroll;
}

.aboutImages {
  width: 100%;
  height: 40%;
  animation: fadein 2s;
}

@media only screen and (max-width: 768px) and (min-width: 426px) {
  .aboutContainer {
    position: fixed;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 30%;
    overflow: scroll;
  }

  .inspoContainer {
    position: absolute;
    top: 50%;
    right: 25%;
    transform: translate(50%, -50%);
    width: 30%;
    overflow: scroll;
  }

  .aboutImages {
    width: 100%;
    height: 150px;
    animation: fadein 2s;
  }
  .entryContainer {
    border: 2px solid black;
    height: 0;
    width: 100%;
    overflow: scroll;
    transition: all 1s;
  }

  .expand {
    height: 100px;
    top: 50%;
  }
}
