.circlesContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 10px solid black;
  height: 145px;
  width: 145px;
}

.dotCircle {
  position: fixed;
  background: black;
  border: 5px solid black;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  animation: pulse 2s infinite;
}

.blueCircle {
  background: #124e78;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  animation: pulse 2s infinite;
}

.redCircle {
  background: #6e0e0a;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  transition: all 1s;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  animation: pulse 2s infinite;
}
.purpleCircle {
  background: #613f75;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  position: fixed;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  transition: all 1s;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  animation: pulse 2s infinite;
}
.greyCircle {
  background: #484349;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  position: fixed;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  transition: all 1s;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  animation: pulse 2s infinite;
}

.circleTransition1 {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  transition: all 1s ease-out;
  margin: 100px;
}

.circleTransition2 {
  position: fixed;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  transition: all 1s ease-out;
  margin: 100px;
}

.circleTransition3 {
  position: fixed;
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
  transition: all 1s ease-out;
  margin: 100px;
}
.circleTransition4 {
  position: fixed;
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
  transition: all 1s ease-out;
  margin: 100px;
}

/* #home {
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
} */

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
  }
}

@media only screen and (max-width: 768px) {
  /* .displayBox {
    display: none;
  } */
}

/* .fa-book-open {
  font-size: 100px;
  position: absolute;
  top: 0;
  left: 47%;
} */

.footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
