@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

.App {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

/* #home {
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
} */